<a href="https://colab.research.google.com/github/Umberto28/Deep_Learning_Project/blob/main/Feature_estraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.calibration import LabelEncoder
import tensorflow as tf

ModuleNotFoundError: No module named 'tensorflow'

#1 Creazione dataset

carichiamo i valori corretti di ogni diagnosi per pazione in un dataframe

In [ ]:
users = pd.read_csv('users.txt', sep = '\t', dtype = str)

users

        ID   diag sex hand age
0    00006  DYSGR   F    R  15
1    00007  DYSGR  M     R  15
2    00008  DYSGR  M     R  14
3    00011  DYSGR  M     R   8
4    00013  DYSGR  M     R  14
..     ...    ...  ..  ...  ..
115  00187      0  M     R  15
116  00189      0  M     L  15
117  00190      0   F    R  15
118  00191      0   F    R  15
119  00192      0  M     R  15

[120 rows x 5 columns]

In [ ]:
users['diag'] = LabelEncoder().fit_transform(users.diag.values)
users=users.drop(columns=["sex","hand","age"])
users

        ID  diag
0    00006     1
1    00007     1
2    00008     1
3    00011     1
4    00013     1
..     ...   ...
115  00187     0
116  00189     0
117  00190     0
118  00191     0
119  00192     0

[120 rows x 2 columns]

assegnamo ad ogni paziente l'immagine corrispondende

In [64]:
img_path = "/content/Image/user00006.png"
img = keras.utils.load_img(img_path, target_size=(299, 299))
x = keras.utils.img_to_array(img)
x = np.expand_dims(x, axis=0)
x=tf.keras.applications.xception.preprocess_input(x)

In [65]:
#assegnamo ad ogni paziente l'immagine corrispondende
#for id in users["ID"]:
#    users[id]["image"]=cv2.imread("image/user"+id+".png")

modelX=tf.keras.applications.xception.Xception(weights='imagenet',include_top=True)
modelX=Model(inputs=modelX.inputs, outputs=modelX.layers[-2].output)

feature=modelX.predict(x)
feature.shape

1/1 [==============================] - 1s 1s/step

(1, 2048)