<a href="https://colab.research.google.com/github/Umberto28/Deep_Learning_Project/blob/main/Feature_estraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
from sklearn.calibration import LabelEncoder
import tensorflow as tf

ModuleNotFoundError: No module named 'tensorflow'

#1 Creazione dataset

carichiamo i valori corretti di ogni diagnosi per pazione in un dataframe

In [2]:
users = pd.read_csv('users.txt', sep = '\t', dtype = str)

users

        ID   diag sex hand age
0    00006  DYSGR   F    R  15
1    00007  DYSGR  M     R  15
2    00008  DYSGR  M     R  14
3    00011  DYSGR  M     R   8
4    00013  DYSGR  M     R  14
..     ...    ...  ..  ...  ..
115  00187      0  M     R  15
116  00189      0  M     L  15
117  00190      0   F    R  15
118  00191      0   F    R  15
119  00192      0  M     R  15

[120 rows x 5 columns]

In [13]:
users['diag'] = LabelEncoder().fit_transform(users.diag.values)
users=users.drop(columns=["sex","hand","age"])
users

        ID  diag
0    00006     1
1    00007     1
2    00008     1
3    00011     1
4    00013     1
..     ...   ...
115  00187     0
116  00189     0
117  00190     0
118  00191     0
119  00192     0

[120 rows x 2 columns]

assegnamo ad ogni paziente l'immagine corrispondende

In [ ]:
for id in users["ID"]:
    users[id]["image"]=cv2.imread("image/user"+id+".png")

In [26]:
modelX=tf.keras.applications.xception.Xception(weights='imagenet',include_top=False)
modelX=Model(inputs=modelX.inputs, outputs=modelX.layers[-2].output)

feature=modelX.predict("Image\user00006.png")
feature

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 5-6: truncated \uXXXX escape (1430797982.py, line 4)

In [ ]:
img_path = 'elephant.jpg'
img = keras.utils.load_img(img_path, target_size=(224, 224))
x = keras.utils.img_to_array(img)
x = np.expand_dims(x, axis=0)
x=tf.keras.applications.xception.preprocess_input(x)